[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
django-debug-toolbar = "*"
django-extensions = "*"
flake8 = "*"
model-mommy = "*"

[packages]
django = "*"
python-decouple = "*"
dj-database-url = "*"
djangorestframework = "*"
drf-nested-routers = "*"
jsonfield2 = "*"
django-json-widget = "*"
lxml = "*"
onesignal-sdk = "*"
celery = "*"
django-celery-beat = "*"

[requires]
python_version = "3.8"
